body{
    background: black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;

}

p{
    margin-top:0; margin-bottom:0;
    font-size: 18px;
}

#subtitulos{
    font-size: 25px;
    padding-top: 40px;
}

.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 13px;
  padding-top: 10px;

}

ol{
    font-style: italic;
    text-decoration: underline;
}

.titulo{
    background-color: red;
    padding-top: 20px;
}

.lista_especies{
    padding-top: 70px;

}