body{
    background: black;
    color: white;

}

p{
    margin-top:0; margin-bottom:0;
    font-size: 18px;
}

#introduccion{
    font-size: 25px;
    
}

.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 13px;
  padding-top: 10px;
}