body{
    background: black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    

}

p{
    margin-top:0; margin-bottom:0;
    font-size: 18px;
}

#subtitulos{
    font-size: 25px;
    padding-top: 40px;
    color: blueviolet;
}

.center{
    display: block;
    margin: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 13px;
  

}

ol{
    font-style: italic;
    text-decoration: underline;
}

.titulo{
    background-color: orange;
    padding-top: 20px;
    color: black;
}

.lista_especies{
    padding-top: 70px;

}

.cv_multimedia {
    width: 90%;
    height: 300px;
    margin: 25px;
    
  }

.multimedias{
    display: flex;
    justify-content: space-around;
    color: orange;
}

.importancia{
    padding-top: 50px;
}

.galeria{
    margin: 15px;  
    
   
}

.border{
    border: 4px solid orange;
    width: 150px;
    height: 100px;
    margin: 5px;
}